{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ bulletin.id }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ bulletin.libelle }}</td>
        </tr>
        </tbody>
    </table>

    <ul>

    </ul>
{% endblock %}
