{% extends 'Front/front.base.html.twig' %}
{% block base %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <h1 style="right: 42%;position: absolute;">Bonjour cher Parent</h1>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock base %}
